* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px*/
}

body {
  background: #f8f8f8;
  height: 100vh;
}

body, input, button, textarea {
  font: 400 16px 'Roboto', sans-serif;
}


@media (max-width: 960px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}


/*  Smartphones em modo retrato  */
@media only screen and (max-width: 420px) {
  html{ font-size: 40% }
}

/*  Smartphones em modo paisagem */
@media only screen and (min-width: 421px) and (max-width: 767px) {
  html{ font-size: 45%; }
}


/*  Tablets em modo retrato, ou smartphones com display grande em modo paisagem */ 
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  html{ font-size: 50%; }
}

/*  Tablets em modo paisagem, monitores desktop/notebook */
@media only screen and (min-width: 1024px) and (max-width: 1365px) {
  html{ font-size: 55%; }
}